$font-family-base: "Khula", sans-serif !default;
$font-family-secondary:"Inter", sans-serif;

:root {
  font-size: 16px;
}

// Grid containers
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px,
);

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
);

$enable-responsive-font-sizes: true;