.benefits-with-srilanka {
  position: relative;
  padding-top: 80px;
  width: 100% !important;

  > .wp-block-group__inner-container {
    @extend .container;

    > .wp-block-image {
      margin: 0 !important;

      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }

    h2 {
      margin: 0;
    }

    p {
      font-size: 16px;
    }

    .row {
      .wp-block-group {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 40px;
        height: 100%;
        background-color: $white;
        border-bottom-left-radius: 60px;
        border-top-right-radius: 60px;
        box-shadow: 0 10px 40px 0 rgba(56, 2, 4, 0.1);

        figure {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin: 0 0 26px !important;
          width: 60px !important;
          height: 60px;
          background-color: $smoke_white;
          border-radius: 50%;

          img {
            position: absolute;
            left: -14px;
            top: -11px;
            height: 100%;
            width: 100%;
            object-fit: none;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .benefits-with-srilanka {
    .row {

      h2 {
        margin-bottom: 250px !important;
        width: 45%;
      }

      .col-md-4 {
        margin-bottom: -180px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .benefits-with-srilanka {

    > .wp-block-group__inner-container > .wp-block-image img {
      height: 45%;
    }
    .row {

      h2 {
        margin-bottom: 100px !important;
      }

      .col-md-4 {
        margin-bottom: 25px;
        width: 75%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .benefits-with-srilanka {
    padding-top: 30px;
    > .wp-block-group__inner-container > .wp-block-image img {
      height: 25%;
    }
  }
}