.contact-us {
  width: 100% !important;

  > .wp-block-group__inner-container {
    @extend .container;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;

    > .wp-block-image {
      margin: 0 !important;

      img {
        position: absolute;
        left: auto;
        right: auto;
        bottom: 0;
        top: 0;
        height: 100%;
        width: calc(100% - 30px);
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
      }
    }

    &:after {
      position: absolute;
      content: '';
      left: 180px;
      bottom: -24px;
      width: 25px;
      height: 50px;
      transform: skew(-20deg);
      background: #E9B431;
    }

    .row {
      figure {
        margin: 0 auto 15px !important;
        height: 50px;
        width: 50px;

        img {
          height: 100%;
          width: 100%;
          object-fit: none;
        }
      }

      address,
      a,
      p {
        margin-bottom: 10px;
        width: 100%;
        color: rgba(255, 255, 255, 0.98);
        font-family: $font-family-base;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 28px;
        text-align: center;
      }

      a {
        display: inline-block !important;
      }

      .col-md-4 {
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .contact-us {
    margin-top: 275px !important;

    > .wp-block-group__inner-container {
      padding-bottom: 80px;
      padding-top: 80px;

      .col-md-4 {
        padding-right: 50px;
        padding-left: 50px;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .contact-us {
    padding-top: 60px !important;

    > .wp-block-group__inner-container {
      padding-bottom: 40px;
      padding-top: 40px;

      .col-md-4 {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .contact-us {
    padding-top: 30px !important;

    > .wp-block-group__inner-container {
      padding-bottom: 20px;
      padding-top: 20px;

      .col-md-4 {
        margin-bottom: 15px;

        address,
        a,
        p {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}