a {
  text-decoration: none !important;
}

html {
  -webkit-text-size-adjust: none !important;
  touch-action: manipulation;
}

.entry-content,
body {
  line-height: 0 !important;
}

article > header.entry-header {
  display: none;
}

.post-meta-wrapper {
  display: none;
}

.post-inner {
  padding: 0;
}

#site-content {
  overflow: visible;
}

.wp-block-group {
  margin: 0 !important;
  width: 100%;
}

ul {
  margin: 0 !important;
}

.wp-bootstrap-blocks-row {
  @extend .row;
  margin-left: -15px !important;
  margin-right: -15px !important;
  width: auto !important;
  max-width: none !important;
}

@include media-breakpoint-up(xl) {
  .main-header {
    height: 96px;
  }

  main {
    min-height: calc(100vh - 270px);
  }

}

@include media-breakpoint-down(lg) {
  .main-header {
    height: 62px;
  }

  main {
    min-height: calc(100vh - 270px);
  }
}

.post-password-form {
  margin-top: 150px !important;
  text-align: center;

  input[type="submit"] {
    @extend .wp-block-button__link;
    text-decoration: none;
  }

  input[type="password"] {
    padding: 3px 2px;
  }
}

%list {
  li {
    position: relative;
    margin: 0 0 18px 0;
    padding-left: 30px;
    font-family: $font-family-base;
    font-size: 16px;
    list-style: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      height: 16px;
      width: 16px;
      background-color: $pearly_star;
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      transform: rotate(45deg);
      left: 5px;
      top: 7px;
      height: 8px;
      width: 6px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
    }
  }
}

@include media-breakpoint-up(md) {
  .mobile_view {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .desktop_view {
    display: none;
  }
}